{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"plugins": ["import", "security", "@typescript-eslint"],
	"env": {
		"commonjs": true,
		"es6": true,
		"node": true,
		"jest": true
	},
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"generators": true,
			"experimentalObjectRestSpread": true
		}
	},
	"rules": {
		"import/first": "error",
		"import/no-amd": "error",
		"import/no-webpack-loader-syntax": "error",
		"@typescript-eslint/interface-name-prefix": "off",
		"@typescript-eslint/camelcase": "off",
		"@typescript-eslint/ban-ts-ignore": "off"
	},
	"ecmaFeatures": {
		"modules": true
	}
}
