sudo: false
language: node_js
node_js:
    - "stable"
    - "4"
    - "6"

cache:
    directories:
        - node_modules

before_script:
    - npm run lint

script:
    - node --version
    - npm --version
    - npm run test

after_script:
    - npm run lint:fix
    - npm run build
