name: Continuous Integration

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.12.1
          run_install: |
            - recursive: true
              args: [--frozen-lockfile]

      - name: Run Eslint
        run: pnpm run lint

      - name: Run Prettier
        run: pnpm run prettier:ci

      - name: Run Unit Tests
        run: pnpm run test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5

      - name: Build
        run: pnpm run build

      - name: Archive production
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: |
            build
            !build/**/*.md
